# Data
*.csv
*.txt
*.fits
*.npy

# Jupyter notebook
.ipynb_checkpoints
*.ipynb
.DS_Store
*/practice_notebook.ipynb

# Temp files
*~
~#

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
